.lbui-menuBar-root {
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;

  width: 100%;
  min-height: 60px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  padding: 0px 10px;

  background: rgb(167, 167, 167);
}

.test {
  background: red;
}
