@use '../../../../utils/global.styles.scss' as g;

.lbui-Card-root {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.lbui-Card-rounded {
  border-radius: 4px;
}
.lbui-Card-squared {
  border-radius: 0px;
}

.lbui-Card-onlyBody {
  padding: 10px;
  display: flex;
}

.lbui-Card-onlyBody-first-child {
  background: g.$pallete-primary;
  position: relative;
  width: 100%;
  height: 100%;
}

.lbui-Card-withDescription {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.lbui-Card-withDescription-first-child {
  background: g.$pallete-primary;
}
.lbui-Card-withDescription-second-child {
  background: g.$pallete-secondary;
}
