.lbui-TimeInput-root {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: min-content;
}

.lbui-TimeInput-input {
  border: 1px solid black;
  width: 120px;
  max-width: min-content;
  height: 45px;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: text;
}

.lbui-TimeInput-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 28px;
}
