.lbui-OptionScroller-root {
  position: absolute;
  border: 1px solid gray;
  background: white;
  display: none;
  flex-flow: row;
  max-height: 200px;
  overflow: hidden;
  opacity: 0;
}

.lbui-OptionScroller-show {
  display: flex;
  opacity: 1;
}

.lbui-OptionScroller-hide {
  opacity: 0;
  display: none;
}

.lbui-OptionScroller-column-section {
  overflow-y: auto;
  flex-grow: 1;
}

.lbui-OptionScroller-column-section::-webkit-scrollbar {
  -webkit-appearance: none;
}
.lbui-OptionScroller-column-section::-webkit-scrollbar:vertical {
  width: 11px;
}
.lbui-OptionScroller-column-section.lbui-OptionScroller-column-section::-webkit-scrollbar:horizontal {
  height: 11px;
}
.lbui-OptionScroller-column-section::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}
.lbui-OptionScroller-column-section::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}
