.lbui-BasicInput-root {
  position: relative;
  margin: unset;
  padding: unset;
  appearance: unset;
}

.lbui-BasicInput-label {
  margin: unset;
  padding: unset;
  appearance: unset;
}

.lbui-BasicInput-input {
  margin: unset;
  padding: unset;
  appearance: unset;
  border: none;
  outline: none;
  cursor: pointer;
}
