@use '../../../utils/global.styles.scss' as g;

.lbui-Divider-root {
  position: relative;
  overflow: hidden;
  width: initial;
  background: g.$default-color;
}
.lbui-Divider-fullWidth {
  width: 100%;
}
