.lbui-Grid-root {
  padding: 15px;
  display: grid;
}

.lbui-Grid-start {
  justify-items: start;
}
.lbui-Grid-center {
  justify-items: center;
}
.lbui-Grid-end {
  justify-items: end;
}

.lbui-Grid-content-center {
  justify-content: center;
}
.lbui-Grid-content-start {
  justify-content: start;
}
.lbui-Grid-content-end {
  justify-content: end;
}
.lbui-Grid-content-space-between {
  justify-content: space-between;
}
.lbui-Grid-content-space-around {
  justify-content: space-around;
}
.lbui-Grid-content-space-evenly {
  justify-content: space-evenly;
}

.lbui-Grid-rowGap1 {
  row-gap: 5px;
}
.lbui-Grid-rowGap2 {
  row-gap: 10px;
}
.lbui-Grid-rowGap3 {
  row-gap: 15px;
}
.lbui-Grid-rowGap4 {
  row-gap: 20px;
}
.lbui-Grid-rowGap5 {
  row-gap: 25px;
}
.lbui-Grid-rowGap6 {
  row-gap: 30px;
}
.lbui-Grid-rowGap7 {
  row-gap: 35px;
}
.lbui-Grid-rowGap8 {
  row-gap: 40px;
}
.lbui-Grid-rowGap9 {
  row-gap: 45px;
}
.lbui-Grid-rowGap10 {
  row-gap: 50px;
}

.lbui-Grid-columnGap1 {
  column-gap: 5px;
}
.lbui-Grid-columnGap2 {
  column-gap: 10px;
}
.lbui-Grid-columnGap3 {
  column-gap: 15px;
}
.lbui-Grid-columnGap4 {
  column-gap: 20px;
}
.lbui-Grid-columnGap5 {
  column-gap: 25px;
}
.lbui-Grid-columnGap6 {
  column-gap: 30px;
}
.lbui-Grid-columnGap7 {
  column-gap: 35px;
}
.lbui-Grid-columnGap8 {
  column-gap: 40px;
}
.lbui-Grid-columnGap9 {
  column-gap: 45px;
}
.lbui-Grid-columnGap10 {
  column-gap: 50px;
}
