html {
  font-size: 15px;
}

.lbui-Typography-h1 {
  font-size: 6rem;
  margin: 0;
}
h1.lbui-Typography-small {
  font-size: 5rem;
}
h1.lbui-Typography-medium {
  font-size: 6rem;
}
h1.lbui-Typography-large {
  font-size: 7rem;
}

.lbui-Typography-h2 {
  font-size: 3.75rem;
  margin: 0;
}
h2.lbui-Typography-small {
  font-size: 3rem;
}
h2.lbui-Typography-medium {
  font-size: 3.75rem;
}
h2.lbui-Typography-large {
  font-size: 4.5rem;
}

.lbui-Typography-h3 {
  font-size: 3rem;
  margin: 0;
}
h3.lbui-Typography-small {
  font-size: 2.5rem;
}
h3.lbui-Typography-medium {
  font-size: 3rem;
}
h3.lbui-Typography-large {
  font-size: 3.5rem;
}

.lbui-Typography-h4 {
  font-size: 2.125rem;
  margin: 0;
}
h4.lbui-Typography-small {
  font-size: 1.625rem;
}
h4.lbui-Typography-medium {
  font-size: 2.125rem;
}
h4.lbui-Typography-large {
  font-size: 2.625rem;
}

.lbui-Typography-h5 {
  font-size: 1.5rem;
  margin: 0;
}
h5.lbui-Typography-small {
  font-size: 1.25rem;
}
h5.lbui-Typography-medium {
  font-size: 1.5rem;
}
h5.lbui-Typography-large {
  font-size: 1.75rem;
}

.lbui-Typography-h6 {
  font-size: 1.25rem;
  margin: 0;
}
h6.lbui-Typography-small {
  font-size: 1rem;
}
h6.lbui-Typography-medium {
  font-size: 1.25rem;
}
h6.lbui-Typography-large {
  font-size: 1.5rem;
}

.lbui-Typography-subtitle1 {
  font-size: 1rem;
  margin: 0;
}
h6.lbui-Typography-small.lbui-Typography-subtitle1 {
  font-size: 0.8rem;
}
h6.lbui-Typography-medium.lbui-Typography-subtitle1 {
  font-size: 1;
}
h6.lbui-Typography-large.lbui-Typography-subtitle1 {
  font-size: 1.2rem;
}

.lbui-Typography-subtitle2 {
  font-size: 0.875rem;
  margin: 0;
}
h6.lbui-Typography-small.lbui-Typography-subtitle2 {
  font-size: 0.5rem;
}
h6.lbui-Typography-medium.lbui-Typography-subtitle2 {
  font-size: 0.875rem;
}
h6.lbui-Typography-large.lbui-Typography-subtitle2 {
  font-size: 1.1rem;
}

.lbui-Typography-body1 {
  font-size: 1rem;
  margin: 0;
}
p.lbui-Typography-small.lbui-Typography-body1 {
  font-size: 0.8rem;
}
p.lbui-Typography-medium.lbui-Typography-body1 {
  font-size: 1rem;
}
p.lbui-Typography-large.lbui-Typography-body1 {
  font-size: 1.2rem;
}

.lbui-Typography-body2 {
  font-size: 0.875rem;
  margin: 0;
}
p.lbui-Typography-small.lbui-Typography-body2 {
  font-size: 0.675rem;
}
p.lbui-Typography-medium.lbui-Typography-body2 {
  font-size: 0.875rem;
}
p.lbui-Typography-large.lbui-Typography-body2 {
  font-size: 1.075rem;
}

.lbui-Typography-buttonText {
  font-size: 0.75rem;
  margin: 0;
  text-transform: uppercase;
}
span.lbui-Typography-small {
  font-size: 0.675rem;
}
span.lbui-Typography-medium {
  font-size: 0.75rem;
}
span.lbui-Typography-large {
  font-size: 0.875rem;
}

.lbui-Typography-default {
  font-weight: 400;
}
.lbui-Typography-bold {
  font-weight: 600;
}
.lbui-Typography-italic {
  font-style: italic;
  font-weight: 400;
}
.lbui-Typography-underline {
  text-decoration: underline;
  font-weight: 400;
}
